.container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    line-height: 2;
}

.wrapper {
    padding: 24px;
    margin: 24px;
    width: 100%;
    max-width: 1024px;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
    text-align: center;
    border: 2px solid var(--blue-primary);
    color: black;
}

.wrapper div {
    width: 100%;
    margin-top: 10px;
}

p {
    text-align: left;
}

.wrapper h1 {
    color: var(--blue-primary);
}